
@section body {
    <p style="margin-left: 20px">
    You've reached our landing page. There's nothing much to see here but use
    the navigation link on the top right to see some of our work. 
    </p>   
}


@section menu {
    <li>
        Navigation
        <ul>
            <li>@Html.ActionLink("Home","Index","Home")</li>
            <li>@Html.ActionLink("Psych133 Demo Page","Index","PsychOfSleep")</li>
        </ul>
    </li>
}
