
@section body {
    <p style="margin-left: 20px">
    @ViewBag.MOTD
    </p>   
}


@section menu {
    <li>
        Navigation
        <ul>
            <li>@Html.ActionLink("Home","Index","Home")</li>
            <li>@Html.ActionLink("Psych133 Demo Page","Index","PsychOfSleep")</li>
        </ul>
    </li>
}