@{ 
    Layout = ViewBag.Layout;
    Page.Title = "";     
}

@section featured_1 {
    <img src="/Content/PsychOfSleep/images/demo/1.gif" alt="" />
    <div class="panel-overlay">
        <h2>Nullamlacus dui ipsum</h2>
        <p>
            Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet.<br />
            <a href="#">Continue Reading &raquo;</a>
        </p>
    </div>
}

@section latest_1 {
    <img src="/Content/PsychOfSleep/images/demo/100x100.gif" alt="" />
    <p><strong><a href="#">Indonectetus facilis leo.</a></strong> Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
}


@section art_top_left {
    <h2><a href="#">Environment &raquo;</a></h2>
    <img src="/Content/PsychOfSleep/images/demo/100x100.gif" alt="" />
    <p><strong><a href="#">Indonectetus facilis leo.</a></strong></p>
    <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>. Condimentumfelis et amet tellent quisquet a leo lacus nec augue accumsan sagittislaorem dolor sum at urna.</p>
}

@section sec_art_1 {
    <img src="/Content/PsychOfSleep/images/demo/190x130.gif" alt="" />
    <p>Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.</p>
    <p>Urnau ltrices quis curabitur pha sellent esque congue magnisve stib ulum quismodo nulla et.</p>
    <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
}

@section footnote_1 {
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li><a href="#">Suspendisse in neque</a></li>
    <li><a href="#">Praesent et eros</a></li>
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li><a href="#">Suspendisse in neque</a></li>
    <li class="last"><a href="#">Praesent et eros</a></li>
}
