@{
    Layout = ViewBag.Layout;
    Page.Title = "Style Distraction Game - ";    
}

@section inner_body {
<script type="text/javascript" src="/Content/PsychOfSleep/scripts/game.js"></script>

<div class="wrapper">
  <div class="container">
    <div class="content">
        <div class="err" id="noscript">
            <p><strong>ERROR: You must enable Javascript for this game to work.</strong></p>
        </div>

        <div class="canvas" style="background:url('/Content/PsychOfSleep/images/bedroom.jpg');
            margin:10px; height:576px;width:1024px" id="canvas">
        </div>

        <div class="notify" id="notificationArea">

        </div>

    </div>
    </div>
    <br class="clear" />
</div>

<body onload="init_game('@ViewBag.messages')"></body>

}