@{
  Layout = ViewBag.Layout;
  Page.Title = "Style Demo - ";  
}

@section inner_body {
<div class="wrapper">
  <div class="container">
    <div class="transbox">
      <h1>@Html.Raw(ViewBag.articleTitle)</h1>
      <p style="font-size:16px;">@Html.Raw(ViewBag.articleBody)</p>
      <br />
      <p><a href="@Html.Raw(ViewBag.articleURL)">Read more</a></p>
    </div>
  </div>
  <br class="clear" />
</div>
}
