@{
    Layout = ViewBag.Layout;
    Page.Title = "Style Demo - ";    
}

@section inner_body {

<div class="wrapper">
  <div class="container">
        <div class="transbox">
            <h1>@Html.Raw(ViewBag.articleTitle)</h1>
            <p>@Html.Raw(ViewBag.articleBody)</p>
        </div>
    </div>
    <br class="clear" />
</div>
}
