<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Content/PsychOfSleep/styles/layout.css" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body id="top">
    <div class="wrapper col0">
        <div id="topline">
            <p>Apex Zero | Mail: it@apexzero.com</p>
            <ul>
                <li>@Html.ActionLink("Home","Index","Home")</li>
                <li>@Html.ActionLink("Psych133 Demo Page","Index","PsychOfSleep")</li>
            </ul>
            <br class="clear" />
        </div>
    </div>
    <section id="main">
        @RenderBody()
    </section>
</body>
</html>